body {
  font-family: 'Noto Sans', sans-serif;
}

.external-link.button.is-normal.is-rounded.is-dark {
  padding: 30px;
  font-size: 25px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 40px;
}

.icon i.fas,
.icon i.fab {
  font-size: 40px;
}

.link-block a {
  font-size: 20px !important;
  transform: scale(0.9);
}

.link-block a span {
  font-size: 20px !important;
}

.button {
  font-size: 20px !important;
  padding: 8px 22px !important;
  height: auto !important;
  line-height: 1 !important;
}
